{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="top-main row">
        <div class="col-12 col-sm-7 top-main-img">
            <img src="./static/images/bingo-pitch2.jpg" alt="Bingo image">
        </div>
        <div class="col-12 col-sm-5 top-main-text">
            If you had one shot to cease everything you ever wanted, would you <span class="text-capture">capture</span> it?
        </div>
    </div>
    <div class="top-main row section-two">
        <div class="col-12 col-sm-5 top-main-text section-two-text">
            Pitch-Up your way . <span class="material-icons heart">favorite</span>
        </div>
        <div class="col-12 col-sm-7 top-main-img">
            <img src="./static/images/bingo2.jpg" alt="BingoPitch image">
        </div>
       
    </div>
</div>
{% endblock %}